name: CIE Watcher 24/7
on:
  schedule:
    - cron: '0 * * * *' # Se lance toutes les heures
  workflow_dispatch:      # Pour le lancer manuellement

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install
        run: |
          pip install playwright requests
          playwright install chromium
      - name: Run 2min Loop
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python script.py
